.virtual_documents/*
*html
*__*
assignments/*
sys*
.jupyter/*
.ipynb_checkpoints/*
.Rhistory
logistic_reg*csv
*code-workspace
data/*
workflow.mmd
*.qza
*.qzv
dag*
temp.fasta
testzone/*
moving_pics/*
results/*
work/*
.nextflow/*
.nextflow.log*
*/artifacts/*
figures/*
