data/*
workflow.mmd
*.qza
*.qzv
dag*
temp.fasta
testzone/*
moving_pics/*
sys/jelly_data/*
sys/filtered/*
results/*
sys/casava-18-single-end-demultiplexed/*
work/*
.nextflow/*
.nextflow.log*
*/artifacts/*
