conda.enabled = true
dag.overwrite = true
includeConfig 'config/systematic.config'
includeConfig 'config/controller.config'

executor {
    name = 'local'
    // queueSize = 1
}

params.ignore = 'Jelly'

results = "$projectDir/results"
params.refIDs = "$projectDir/data/artifacts/AllIDs.qza"
params.refSeqs = "$projectDir/data/artifacts/AllSeqs.qza"
params.outdirClean = "$results/1-Cleaning"
params.outdirOTU = "$results/2-OTUs"
params.outdirClassified = "$results/3-Classified"
params.outdirAligned = "$results/4-Aligned"
params.outdirTrees = "$results/5-UnrootedTrees"
params.outdirRooted = "$results/6-RootedTrees"
params.outdirDiversity = "$results/7-Diversity"
params.outdirAnalysis = "$results/8-Analysis"
params.blast_args = ''
params.vsearch_args = ''

params.alpha = ['non-phylogenetic': [ 'pielou_e', 'shannon', 'simpson',
                                    'simpson_e'],
                'phylogenetic': 'faith_pd']
params.beta = [ "non-phylogenetic": ['braycurtis', 'jaccard'],
                "phylogenetic": ['unweighted_unifrac',
                                'weighted_normalized_unifrac', 'weighted_unifrac'] ]

params.pcoa_dimensions = 2