// Run systematic bio workflow

params.denoisedTable = "$projectDir/sys/results/1-Denoised/denoised.qza"
params.denoisedSeqs = "$projectDir/sys/results/1-Denoised/denoised_seqs.qza"

// Construct tree?
params.phylogeny = false

// Which program for tree building?
params.fasttree = true
params.raxml = true
params.iqtree = false

// Taxonomic classification
params.blast = false
params.vsearch = false